{% extends 'MainPage/base.html' %}

{% block title %}
Робота з файлами та директоріями
{% endblock %}

{% block text %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/MainPage/css/search.css">
<style>
        h1 {
            color: lime;
            front-size: 40px;
        }
    </style>
<h1>Робота з файлами та директоріями</h1>
     <p>Робота з файлами та директоріями є необхідною для багатьох операцій в програмуванні, таких як зчитування та запис даних, створення, переміщення та видалення файлів та директорій.</p>
    {% for page in category1_pages %}
        <div>
            <h2>{{ page.title }}</h2>
            <img src="{{ page.image.url }}" alt="{{ page.title }}">
            <p>{{ page.content }}</p>
        </div>
    {% endfor %}
{% endblock %}