{% extends 'MainPage/base.html' %}

{% block title %}
Робота з іншими модулями та бібліотеками
{% endblock %}

{% block text %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/MainPage/css/search.css">
<style>
        h1 {
            color: lime;
            front-size: 40px;
        }
    </style>
<h1>Робота з іншими модулями та бібліотеками</h1>
     <p>Python має велику кількість модулів та бібліотек, які дозволяють розширювати функціональність мови та значно полегшують розробку.</p>
    {% for page in category1_pages %}
        <div>
            <h2>{{ page.title }}</h2>
            <img src="{{ page.image.url }}" alt="{{ page.title }}">
            <p>{{ page.content }}</p>
        </div>
    {% endfor %}
{% endblock %}