.posts-wrapper {
     width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.post {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #E0FFFF;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.post-image {
  max-width: 700px;
  max-height: 300px;
  width: auto;
  height: auto;
}

